<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee">
<display-name>ReconciliationService</display-name>
 <context-param>
  <description>Path of the Configuration file</description>
  <param-name>ConfigPath</param-name>
  <param-value>/opt/tomcat/webapps/ReconciliationService/Resources/ReconciliationWS</param-value>
 </context-param>
 <listener>
  <listener-class>ae.dubai.gov.epay.reconciliation.ws.ServiceListener</listener-class>
 </listener>
 <listener>
  <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
 </listener>
 <servlet>
  <servlet-name>SPReconciliation</servlet-name>
  <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet-mapping>
  <servlet-name>SPReconciliation</servlet-name>
  <url-pattern>/services/*</url-pattern>
 </servlet-mapping>
 <session-config>
  <session-timeout>60</session-timeout>
 </session-config>
 <welcome-file-list>
  <welcome-file>/index.jsp</welcome-file>
 </welcome-file-list>
 <!-- Add Security for RESTful Web Services Using Basic Authentication  -->
  <security-constraint>
    <display-name>Secure REST Area</display-name>
    <web-resource-collection>
      <web-resource-name>Secure REST</web-resource-name>
      <url-pattern>/rest/customers/secure/*</url-pattern>
      <http-method>PUT</http-method>
      <http-method>POST</http-method>
      <http-method>DELETE</http-method>
    </web-resource-collection>
   
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
 
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>default</realm-name>
  </login-config>
 
  <security-role>
    <role-name>ReconcileUser</role-name>
  </security-role>
 
</web-app>
